
@{
    ViewBag.Title = "forgetPassword";
}

<h2>向管理员申请密码重置</h2>

<form action="/Employees/forgetPassword1" method="post">
    <div>
        <b>账号：</b><input type="text" name="EmployeeID" />
        <b>姓名：</b><input type="text" name="EmployeeName"  />
        <b>邮箱：</b><input type="text" name="Email"  />

        <input type="submit" value="提交申请" />
    </div>
</form>
