@model Fixture02.Models.Workcell

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<ul class="breadcrumb">
    <li>您好，欢迎来到工夹具智能管理系统----系统管理>>@Html.ActionLink("部门管理", "Index")>>删除部门</li>
</ul>
<br />
<hr />
<div class="alert alert-warning">您确定要<strong> 删除 </strong>所选部门吗？</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h5 class="panel-title">部门名称</h5>
    </div>
    <div class="panel-body" style="text-align:center;">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 col-md-offset-3" style="text-align:right; font-size:20px;">部门名称</label>
                <div class="col-md-2" style="text-align:right; font-size:20px;">
                    @Html.DisplayFor(model => model.WorkcellName)
                </div>
                <div class=" btn-group  col-md-offset-2">
                    <input type="submit" value="删除" class="btn btn-danger" />
                    <button class="btn btn-default" style="float:right">@Html.ActionLink("返回", "Index", new { @class = "btn" }, new { style = "color:black;" })</button>
                </div>
            </div>
        </div>
    </div>
</div>
