@model Fixture02.Models.Workcell

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/FixtureMaster.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Workcell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkcellName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkcellName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkcellID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
