
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录注册界面</title>
</head>
<body>
    <form action="/Home/Login" method="post">
        <div>
            <b>账号：</b><input type="text" name="EmployeeID" />
            <b>密码：</b><input type="text" name="Password" value="123456" />

            <input type="submit" value="登录" />
        </div>
    </form>
</body>
</html>
